.Layout {
  display: flex;
  margin-bottom: 3%;
  flex-direction: column;
}

.Submission {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.Submission input {
  background-color: rgb(236, 236, 236);
  min-height: 20px;
  padding: 12px 15px;
  margin-bottom: 3%;
}

.Submission textarea {
  min-height: 100px;
  /* height: 100% !important; */
  background-color: rgb(236, 236, 236);
  outline: none;
  padding: 12px 15px;
  border-radius: 5px;
}
.Dropdown {
  margin-bottom: 3%;
}
