/* .Block {
  display: grid;
  grid-template-columns: 25% 40% 25%;
  grid-template-rows: 20% 20% 20% 20%;
  margin-top: 5%;
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  width: 100%;
  /* min-height: calc(100vh - 40px); */

.Layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* .Block {
  /* margin: 0 auto; */
/* @media(max-width:500px){
  .Block{

  }
} */
/* 
@media (max-width: 500px) {
  .Block {
    display: flex;
    flex-direction: column;
  }
} */
