.Layout {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  background-color: white;
  padding: 20px;
  border: 1px black solid;
  margin-top: 5%;
  /* min-height: 500px; */
}

.Layout h3 {
  color: rgb(78, 78, 78);
  font-size: 1.5rem;
  margin: 0;
  /* font-size: 15px; */
}

.Layout input {
  background: rgb(236, 236, 236);
  line-height: 15px;
  padding: 10px 5px;
  margin-bottom: 20px;
}

.Button {
  margin-top: 15px;
  width: 50%;
  margin: 0 auto;
  background-color: #ffc680 !important;
  color: black;
  border-radius: 3px;
}

.Google_Button {
  width: 125px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
  padding: 7px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.GoogleButton {
  width: 225px;
  margin: 0 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 5%;
}

.GoogleButton img {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 5px;
  align-items: center;
  justify-content: center;
}
/* .Button:hover {
  background-color: #914da8 !important;
} */

@media (max-width: 500px) {
  .Layout {
    width: 80%;
  }
}

/* .Button {
  color: black;
  border-radius: 3px;
} */
.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
