.SideMenu {
  margin-top: 35px;
  padding-right: 100px;
  text-align: left;
}

.SideMenu a {
  padding: 0;
  color: black;
  /* background-color: yellow; */
  text-decoration: none;
}
/* .SideMenu a:active {
} */

/* .SideMenu a:focus {
  background-color: purple !important;
} */
/* .Link {
  padding: 0;
} */
.ListItem {
  margin: 15px;
  padding: 0;
  border: none;
}
